*{
    background-color: #450910;
    color:#fff5e7;
    font-family: bitter;
    margin: 0;
}

#home{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
    margin: 0 15px;
}

#home h1{
    font-size: 5.5vw; /* 1vw = 1% */
    font-weight: 900;
    padding: 1px 0;
}

#home img{
    border-radius: 50%;
    border: 5px solid #fff5e7 ;
}

#intro{
    margin: 0 15px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 22px;
    gap: 35px;
}

.intros h3{
    font-style: italic;
}

#intro button{
    border-radius: 5px;
    border: 2px solid #fff5e7;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
}

button a{
    text-decoration: none;
}

